*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    padding-top: 109px;
    margin-top: 89px;
    height: 233px;
    text-align: center;
}

img{
    height: 92px;
    width: 272px;
}

.form{
    position: relative;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    width: 484px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
}

.box{
    padding: 5px 8px 0 16px;
    height: 39px;
}
.search-box{
    font-size: 16px;
    width: 435px;
    border: none;
    outline: none;
    letter-spacing: normal;
    font-weight: 400;
    cursor: text;
    line-height: 34px;
    margin-top: -5px;
    margin-left: -16px;
}

.button{
    background:url("images/search-by-voice.png");
    width: 24px;
    height: 24px;
    background-size: 24px;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    padding: 0 8px;
    margin-top: -60px;
    margin-left: 420px;
}

.search-buttons{
   height: 58px;
   padding-top: 18px;
   position: absolute;
   top: 45px;
   left: 100px;
   width: 487px;
}

.buttons{
    height: 36px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    cursor: default;
    color: #757575;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
}

.left-side ul li{
    display: inline-block;
    margin: 7px 0 0 10px;
    padding-top: 15px;
}

.left-side ul li a{
    color: #3c4349;
    padding-left: 15px;
    font-size: 15px;
    text-decoration: none;
}

.right-side{
    position: absolute;
    right: 0;
    top: 0;
}

.right-side ul{
    padding-left: 30px;
    padding-right: 30px;

}

.right-side ul li{
    display: inline-block;
}

.right-side li img{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.right-side .right-nav{
    padding-left: 15px;
}
