*{
    margin: 0;
    padding: 0;
}

.body{
    position: relative;
}


img{
    height: 92px;
    width: 272px;
}

.logo{
    position: absolute;
    top: 200px;
    left: 487px;
}

.form{
    border: 1px solid #ebebeb;
    width: 539px;
    border-radius: 2px;
    position: absolute;
    top: 317px;
    left: 354px;
}

.search-buttons{
    position: absolute;
    top: 375px;
    left: 475px;
}

.buttons{
    height: 36px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    cursor: default;
    color: #757575;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
}

.search-box{
    font: 16px arial;
    line-height: 34px;
    height: 34px;
    width: 484px;
    border: none;
    outline: none;
    letter-spacing: normal;
    font-weight: 400;
    cursor: text;
    padding: 5px 8px 0 16px;
    border-radius: 2px;
}

.button{
    cursor: pointer;
    background:url("images/search-by-voice.png");
    width: 24px;
    height: 24px;
    background-size: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: none;
    padding: 15px 8px;
}